*~
.metadata
.recommenders
.classpath
.project
.settings
.DS_Store
*.pyc
*.aux
*.log
*.bbl
*.blg

.idea
slprj/
event_output.json
.vscode/
sequence_diagram.txt
simulator_events.txt
ss2hcsp/event_output.json
ss2hcsp/import_path.txt
