.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.vl {
  border-left: 1px solid lightgray;
  height: 780px;
  position: absolute;
  left: 47.5%;
  margin-left: 0px;
  top: 111px;
}
.myInlineDecoration {
  color: red !important;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-style: oblique;
}

.program-text {
  margin-top: 10px;
  font-family: 'Consolas', Courier, monospace;
  width: 50%;
}

.program-text-hl {
  background-color: yellow;
}

.program-text pre {
  margin: 0px;
}

.event-list {
  margin-top: 10px;
}

.event-list pre {
  margin: 0px;
  cursor: pointer;
}

.event-list-hl {
  background-color: yellow;
}

.left {
  display: inline-block;
  max-width: 70%;
}

.right {
  display: inline-block;
  max-width: 30%;
  vertical-align: top;
  position: fixed;
  top: 127px;
  bottom: 0px;
  overflow-y: scroll;
}
